@import url('https://fonts.googleapis.com/css?family=Elsie|Encode+Sans:300,400,700');

:root {
    --brown: #52492b;
    --gold: #b09a64;
    --medium: #666666;
    --light: #d9d0c5;
    --baby: #7d9da5;
    --dark: #273442;
}

body {
    background-image: linear-gradient(-45deg, rgba(82, 73, 43, 1) 0%, rgba(39, 52, 66, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Encode Sans', sans-serif;
    color: var(--light);
    margin:0;
}

.logo{
    color: var(--light);
    font-family: 'Elsie', cursive !important;
    font-weight: 400;
    font-size:6em;
}
