@import url('https://fonts.googleapis.com/css?family=Elsie|Encode+Sans:300,400,700');

:root {
    --brown: #52492b;
    --gold: #b09a64;
    --medium: #868686;
    --light: #d9d0c5;
    --baby: #7d9da5;
    --babyMedium: #7d9da55d;
    --babyAlpha: #7d9da52a;
    --dark: #273442;
}

body {
    background-image: linear-gradient(-45deg, rgba(82, 73, 43, 1) 0%, rgba(39, 52, 66, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Encode Sans', sans-serif;
    color: var(--light);
    margin:0;
    position: relative;
    height: 100%;
}

#app {
    min-height: 100%;
    position: relative;
}

html{
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.logo, .mobileLogo{
    color: var(--light);
    font-family: 'Elsie', cursive !important;
    font-weight: 400;
    font-size:6em;
   
}

button{
    background-color: var(--gold) !important;
    font-weight:bold;
    text-transform: none !important;
    margin-top:1.3em !important;
    float: right;
  }


div#route-next-button {
    margin-top: -2em;
    margin-bottom: 6.5em;
}  

/**************TABLES**************/

table{
    background-color: transparent !important;
}

i{
    color: var(--gold) !important;
    font-weight: lighter !important;
}

th{
    color: var(--gold) !important;
    font-weight: bolder !important;
}

th.column.sortable.active,
th.column.sortable.active > i{
    color:var(--baby) !important;
}

tbody{
    border-top: 0.1em solid var(--baby);
    border-bottom:  0.1em solid var(--baby);
    
}

tbody td{
    background-color: var(--babyAlpha);
}

tr{
    color: var(--medium);
}

tr[active]{
    background-color: transparent !important;
    color: var(--light) !important;
}

tbody tr{
    border-bottom: 0.1em solid var(--babyMedium) !important;
}

tbody tr:hover{
    background-color: var(--babyMedium) !important;
    cursor: pointer;
}

tbody tr.expand:hover{
    background-color: transparent !important;
    cursor: default;
}

tbody tr.expand tr:hover{
    background-color: transparent !important;
    cursor: default;
}

